<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
</head>
<body>
<center>
  <img src="{{product_id.image.url}}" alt="" width="400" height="500">
  <h1>{{product_id.product_name}}</h1>
  <h3>Цвет товара: {{product_id.color}}</h3>
  <p>Размер товара: {{product_id.size}}</p>
  <p>Состояние товара: {{product_id.shape}}</p>
  <h4>Где сделан товар: {{product_id.made_in}}</h4>
  <h4>Состав товара: {{product_id.compound}}</h4>
  <h2>Цена товара: {{product_id.price}}</h2>
</center>
</body>
</html>